/* .logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: -50px;
}
.nav-links{
} */
nav {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Add space between logo and nav-links */
    position: relative; /* Position relative for absolute positioning of video */
    z-index: 1;
    background: transparent;
}
  
  .logo-container {
    display: flex;
    align-items: center; /* Center the logo vertically */
    position: relative;
    z-index: 2;
    background: transparent;
}
.logo-image{
    max-width: 100px;
    height: auto;
    background: transparent;
    border: none;
}
  
  .nav-links ul {
    display: flex;
    gap: 20px; /* Add spacing between the links */
    list-style: none; /* Remove default list styling */
    margin-right: 20px;
    padding: 0;
  }
  
  .nav-links a {
    text-decoration: none; /* Remove underline from links */
    color:brown; /* Use the inherited text color */
  }
  #video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Set the video behind other elements */
    object-fit: cover; 
    /* Cover the entire container */
  }
  .hero-content{
    /* border: 2px solid black; */
    position: relative;
    z-index: 2;
    color: #F0D54D;
    text-align: center;
    margin-top: 100px;
  }